html {
    position: relative;
}

body {
    padding-top: 4.5rem;
}

.navbar {
    color: white;
    background: #1b78c5;
}

.navbar-brand img {
    height: 40px;
}

@media (min-width: 768px) {
    .navbar-brand {
        border-right: 2px solid white;
    }
}

.page-title {
    font-size: 1.5rem;
}

.purple-border textarea {
    border: 1px solid #ced4da;
}

.purple-border .form-control:focus {
    border: 1px solid #ced4da;
    box-shadow: 0 0 0 0.2rem rgba(186, 104, 200, .25);
}